@import '~bootstrap/scss/bootstrap';

$mcdennis-yellow: #ffc90e;
$mcdennis-red: #ff0700;
$plain-white: #fff;

body {
  background-color: $mcdennis-yellow;
}

h2 {
  font-weight: bold;
  text-align: center;
}

.logo {
  margin: 10px;
  width: auto;
}

.page-box {
  display: flex;
  flex-direction: row;
}

.left-column {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.main-column {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.top-bar {
  background-color: $mcdennis-red;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px;
  padding: 10px;
  width: auto;
}

.btn-dark {
  color: $mcdennis-yellow;
  font-weight: bold;
}

.modal-content {
  background-color: $mcdennis-red;
  color: $plain-white;
  font-weight: bold;
}

.review {
  background-color: $mcdennis-red;
  color: $plain-white;
  font-weight: bold;
  margin: 10px;
  padding: 10px;
}

.title-input {
  width: 100%;
}
