@import '~bootstrap/scss/bootstrap';

$mcdennis-yellow: #ffc90e;
$mcdennis-red: #ff0700;
$plain-white: #fff;
$plain-black: #000;
$gold: #705711;

body {
  background-color: $mcdennis-yellow;
}

h2 {
  font-weight: bold;
  text-align: center;
}

.logo {
  margin: 10px;
  width: auto;
}

.page-box {
  display: flex;
  flex-direction: row;
}

.left-column {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.main-column {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.top-bar {
  background-color: $mcdennis-red;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px;
  padding: 10px;
  width: auto;
}

.btn-dark {
  color: $mcdennis-yellow;
  font-weight: bold;
}

.modal-content {
  background-color: $mcdennis-red;
  color: $plain-white;
  font-weight: bold;
}

.review {
  background-color: $mcdennis-red;
  color: $plain-white;
  font-weight: bold;
  margin: 10px;
  padding: 10px;
}

.title-input {
  width: 100%;
}

.review-list {
  display: flex;
  flex-direction: column;
}

.single-review-div {
  background-color: $plain-white;
  height: auto;
  margin-bottom: 15px;
  margin-left: 30px; // TEMPORARY FIX
  padding: 5px;
  width: 95%;
}

.single-review-div * {
  background-color: $plain-white;
  color: $gold;
}

.divider {
  border-top: 3px solid $plain-black;
  margin: 5px -5px;
}

.review-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.review-header span {
  color: $gold;
  font-size: 27px;
  margin: 0 5px;
}

.review-header .title-span {
  font-size: 30px;
  text-decoration: underline;
}

.review-body {
  font-size: 20px;
  margin: 0 6px 15px 6px;
}

.black-border {
  border: 5px solid $plain-black;
}
